/////////////////dont modify this line////////////////
@import "source/any/mixin" ;/////////////////////////
@import "clue" ;////////////////////////////////////
$opensans : 'Open Sans', sans-serif;///////////////
$violet : #7D4697;////////////////////////////////
/////////////////////////////////////////////////
.pointer
{
	cursor: pointer;
}

.c-black-inverse
{
	color: #808080 !important;
}
.bg-transparent
{
background: transparent;
}
 @font-face { font-family: "product-sans"; src: url("../fonts/produc-sans.ttf");}
.main-content {
  display: block;
  box-shadow: 0px 0px 42px -12px rgba(0, 0, 0, 0.4);
  @include border-radius(15px);
}
html , body
{
  font-family: $opensans;
}


///////////main ////////////////

.main-data
{
  width: 290px;
  height: auto;
  @include overflow-y(hidden);
  color:#fff;

  .data-header
  {
    background: #5C5BA6;

    .title{
      text-overflow:ellipsis;
      overflow: hidden;
      width: 100%;
      background: transparent;
      border:0px;
      outline: 0px;
      padding: 0px;
      color: #fff;
      font-size: 20px;
      letter-spacing: auto;
      text-overflow-x:hidden;
      font-family: $opensans;

    }

     .subtitle{
      text-overflow:ellipsis;
      overflow: hidden;
      width: 100%;
      background: transparent;
      border:0px;
      outline: 0px;
      padding: 0px;
      color: #fff;
      font-size: 10px;
      letter-spacing: auto;
      font-family: $opensans;

    }


  }
  .data-attrib
  {
    padding: 5px 5px;
     background: #333333;
  }
  .data-body
  {
    height: 400px;
   
    width: 100%;  
    overflow-y:scroll;
    padding: 0px 10px;
    @include box-sizing(border-box);




    .question
    {
      .question-title
      {
        color: #737373;
      }

    
    }

    textarea
      {
        background: transparent;
        resize:none;
        overflow: hidden;
        border:none;
        overflow: hidden;
        color: #EDEDED;
        letter-spacing: 1.9;
        font-weight: normal;
        line-height: 1.7;
        font-size: 15px !important; 
      }

      textarea:disabled
      {
         background: transparent;
        resize:none;
        overflow: hidden;
        border:none;
        overflow: hidden;
        color: #EDEDED;
        letter-spacing: 1.9;
        font-weight: normal;
        line-height: 1.7;
        font-size: 15px !important; 
      }
  }

  .data-footer
  {
    background: #fff;
    height:auto;
    padding: 10px 0;  

    .edit
    {
      button
      {
        padding: 0;
        overflow: hidden;
        background: transparent;
        outline: 0px;
        border:none;


        img
        {
          width: 30px;

        }
      }
    }

    .edit-text , .text-start
    {
      color: #2E2E2E;
      font-weight: 700;
    }


  }

}
.button-start
{
border:2px solid #5C5BA6 !important;
border-radius: 100%; 
height: 35px;
box-sizing:border-box;
width: 37px;
}

.c-vololet-data
{
 color:#5C5BA6 !important;
 padding: 0px; 
}

.data-body::-webkit-scrollbar-track
{

  border-radius: 10px;

  background-color: #333333;
}

.data-body::-webkit-scrollbar
{
  width: 5px;
  background-color: transparent !important;
}

.data-body::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  width: 5px;
  background-color: #fff;
}

 .nav-tabs li:nth-child(3)::before
    {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    background: #5C5BA6 !important;
    height: 2px;
    display: flex;
    margin: 0 auto;
    width: 50px;
    content: '';





    }

    .nav-tabs li:nth-child(3)::before:hover
    {
      position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    background: #5C5BA6 !important;
    height: 2px;
    display: flex !important;
    margin: 0 auto;
    width: 50px;
    content: '';
    }


   


.navbar-area
{
  border-top: 2px solid #5C5BA6 !important;
}
.navbar-tabs-data
{
  border-bottom: 0px !important;


  display: block;

.active
{
  border-radius: 0px;
  border:0px transparent !important;
  color: #5C5BA6 !important;
  a{
    text-decoration: none;
    color: #5C5BA6 !important;
  }

}
.active::after
{
  border-top: 20px solid #fff !important;
  border-left: 15px solid transparent !important;
  border-right: 15px solid transparent !important;
  overflow: hidden;
  content: '';
  left: 0;
  right: 0;
  width: 30px;
  z-index: 99;
  margin: 0 auto;
bottom: -15px;
  position: absolute;

}



    li
    {
      width: 20% !important;
      padding: 0px !important ;
      margin: 0px !important;
      border:0px !important;
      box-sizing:border-box !important;
      border-radius: 0px !important;
      border: 0px solid !important;


      li:hover
      {
        background: #fff;
        a
        {
          color: #636363 !important;
        }
      }
      &:hover , a:hover
      {
        background: #fff !important;
         color: #858585 !important;
         @include transition(.2s ease-all);
      }


      img
      {
        max-height: 30px;
        max-width: 40px;
      }

      a
      {
        font-size: 16px;
        width: 100% !important;
        text-align: center;
        border:0px !important;
        color:#525252 !important;
        text-decoration: none;
        text-transform: uppercase;

      }



    }

   
    

.tab-data
{
  height: 300px !important;
}

}
.tabs-title
{
  float: left;
}

.tab-button
{
  float: right;
  color: #404040;
  max-width: 200px;
  margin-bottom: -40px;
  position: relative;
  margin-top: 30px;
  bottom: 0;

   button
   {
    background: transparent !important;
    border:0px !important;
    outline: 0px !important;
    color: #525252;

   }
}


.tabs-title
{
  .intitle
  {
    font-weight: 100;
    font-size: 40px;
    color: #525252;
  }
  .subtitle
  {
    font-style: 20px;
    font-weight: 10px;
    color: #525252;

  }
}
.tab-data-op
{
  background: rgba(245,245,245,1);
background: -moz-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(226,226,226,1) 66%, rgba(216,216,216,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,245,245,1)), color-stop(66%, rgba(226,226,226,1)), color-stop(100%, rgba(216,216,216,1)));
background: -webkit-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(226,226,226,1) 66%, rgba(216,216,216,1) 100%);
background: -o-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(226,226,226,1) 66%, rgba(216,216,216,1) 100%);
background: -ms-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(226,226,226,1) 66%, rgba(216,216,216,1) 100%);
background: linear-gradient(to bottom, rgba(245,245,245,1) 0%, rgba(226,226,226,1) 66%, rgba(216,216,216,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#d8d8d8', GradientType=0 );
-webkit-box-shadow: inset 0px 10px 20px -6px rgba(0,0,0,0.1);
-moz-box-shadow: inset 0px 10px 20px -6px rgba(0,0,0,0.1);
box-shadow: inset 0px 10px 20px -6px rgba(0,0,0,0.1);
}


.button-navbar
{
  padding-top: 5px;
  button
  {
    background: transparent;
    padding: 0px;
    border:0px;
    float: right;
    outline: 0px;

    img
    {
      max-width: 40px;
      max-height: 40px;
    }
  }
}