@import "https://fonts.googleapis.com/css?family=Open+Sans";
@import url(ionicons.min.css);
@import url(font-awesome.min.css);
@import url(bootstrap.min.css);
@import url(bootstrap-theme.min.css);
@import url(source/height/height.min.css);
@import url(source/width/width.min.css);
@import url(source/margin/margin.min.css);
@import url(source/padding/padding.min.css);
@import url(source/font/font.min.css);
@import url(source/any/main.min.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-border-radius: border-box;
  box-sizing: border-box; }
  *::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-border-radius: border-box;
    box-sizing: border-box; }
  *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-border-radius: border-box;
    box-sizing: border-box; }

/*# sourceMappingURL=clue.css.map */
.pointer {
  cursor: pointer; }

.c-black-inverse {
  color: #808080 !important; }

.bg-transparent {
  background: transparent; }

@font-face {
  font-family: "product-sans";
  src: url("../fonts/produc-sans.ttf"); }
.main-content {
  display: block;
  box-shadow: 0px 0px 42px -12px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px; }

html, body {
  font-family: "Open Sans", sans-serif; }

.main-data {
  width: 290px;
  height: auto;
  overflow-y: hidden;
  -moz-overflow-y: hidden;
  -o-overflow-y: hidden;
  -webkit-overflow-y: hidden;
  -ms-overflow-y: hidden;
  color: #fff; }
  .main-data .data-header {
    background: #5C5BA6; }
    .main-data .data-header .title {
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      background: transparent;
      border: 0px;
      outline: 0px;
      padding: 0px;
      color: #fff;
      font-size: 20px;
      letter-spacing: auto;
      text-overflow-x: hidden;
      font-family: "Open Sans", sans-serif; }
    .main-data .data-header .subtitle {
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      background: transparent;
      border: 0px;
      outline: 0px;
      padding: 0px;
      color: #fff;
      font-size: 10px;
      letter-spacing: auto;
      font-family: "Open Sans", sans-serif; }
  .main-data .data-attrib {
    padding: 5px 5px;
    background: #333333; }
  .main-data .data-body {
    height: 400px;
    width: 100%;
    overflow-y: scroll;
    padding: 0px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-border-radius: border-box;
    box-sizing: border-box; }
    .main-data .data-body .question .question-title {
      color: #737373; }
    .main-data .data-body textarea {
      background: transparent;
      resize: none;
      overflow: hidden;
      border: none;
      overflow: hidden;
      color: #EDEDED;
      letter-spacing: 1.9;
      font-weight: normal;
      line-height: 1.7;
      font-size: 15px !important; }
    .main-data .data-body textarea:disabled {
      background: transparent;
      resize: none;
      overflow: hidden;
      border: none;
      overflow: hidden;
      color: #EDEDED;
      letter-spacing: 1.9;
      font-weight: normal;
      line-height: 1.7;
      font-size: 15px !important; }
  .main-data .data-footer {
    background: #fff;
    height: auto;
    padding: 10px 0; }
    .main-data .data-footer .edit button {
      padding: 0;
      overflow: hidden;
      background: transparent;
      outline: 0px;
      border: none; }
      .main-data .data-footer .edit button img {
        width: 30px; }
    .main-data .data-footer .edit-text, .main-data .data-footer .text-start {
      color: #2E2E2E;
      font-weight: 700; }

.button-start {
  border: 2px solid #5C5BA6 !important;
  border-radius: 100%;
  height: 35px;
  box-sizing: border-box;
  width: 37px; }

.c-vololet-data {
  color: #5C5BA6 !important;
  padding: 0px; }

.data-body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #333333; }

.data-body::-webkit-scrollbar {
  width: 5px;
  background-color: transparent !important; }

.data-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  width: 5px;
  background-color: #fff; }

.nav-tabs li:nth-child(3)::before {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  background: #5C5BA6 !important;
  height: 2px;
  display: flex;
  margin: 0 auto;
  width: 50px;
  content: ''; }

.nav-tabs li:nth-child(3)::before:hover {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  background: #5C5BA6 !important;
  height: 2px;
  display: flex !important;
  margin: 0 auto;
  width: 50px;
  content: ''; }

.navbar-area {
  border-top: 2px solid #5C5BA6 !important; }

.navbar-tabs-data {
  border-bottom: 0px !important;
  display: block; }
  .navbar-tabs-data .active {
    border-radius: 0px;
    border: 0px transparent !important;
    color: #5C5BA6 !important; }
    .navbar-tabs-data .active a {
      text-decoration: none;
      color: #5C5BA6 !important; }
  .navbar-tabs-data .active::after {
    border-top: 20px solid #fff !important;
    border-left: 15px solid transparent !important;
    border-right: 15px solid transparent !important;
    overflow: hidden;
    content: '';
    left: 0;
    right: 0;
    width: 30px;
    z-index: 99;
    margin: 0 auto;
    bottom: -15px;
    position: absolute; }
  .navbar-tabs-data li {
    width: 20% !important;
    padding: 0px !important;
    margin: 0px !important;
    border: 0px !important;
    box-sizing: border-box !important;
    border-radius: 0px !important;
    border: 0px solid !important; }
    .navbar-tabs-data li li:hover {
      background: #fff; }
      .navbar-tabs-data li li:hover a {
        color: #636363 !important; }
    .navbar-tabs-data li:hover, .navbar-tabs-data li a:hover {
      background: #fff !important;
      color: #858585 !important;
      -webkit-transition: 0.2s ease-all;
      -moz-transition: 0.2s ease-all;
      -o-transition: 0.2s ease-all;
      -ms-transition: 0.2s ease-all;
      transition: 0.2s ease-all; }
    .navbar-tabs-data li img {
      max-height: 30px;
      max-width: 40px; }
    .navbar-tabs-data li a {
      font-size: 16px;
      width: 100% !important;
      text-align: center;
      border: 0px !important;
      color: #525252 !important;
      text-decoration: none;
      text-transform: uppercase; }
  .navbar-tabs-data .tab-data {
    height: 300px !important; }

.tabs-title {
  float: left; }

.tab-button {
  float: right;
  color: #404040;
  max-width: 200px;
  margin-bottom: -40px;
  position: relative;
  margin-top: 30px;
  bottom: 0; }
  .tab-button button {
    background: transparent !important;
    border: 0px !important;
    outline: 0px !important;
    color: #525252; }

.tabs-title .intitle {
  font-weight: 100;
  font-size: 40px;
  color: #525252; }
.tabs-title .subtitle {
  font-style: 20px;
  font-weight: 10px;
  color: #525252; }

.tab-data-op {
  background: whitesmoke;
  background: -moz-linear-gradient(top, whitesmoke 0%, #e2e2e2 66%, #d8d8d8 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, whitesmoke), color-stop(66%, #e2e2e2), color-stop(100%, #d8d8d8));
  background: -webkit-linear-gradient(top, whitesmoke 0%, #e2e2e2 66%, #d8d8d8 100%);
  background: -o-linear-gradient(top, whitesmoke 0%, #e2e2e2 66%, #d8d8d8 100%);
  background: -ms-linear-gradient(top, whitesmoke 0%, #e2e2e2 66%, #d8d8d8 100%);
  background: linear-gradient(to bottom, whitesmoke 0%, #e2e2e2 66%, #d8d8d8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#d8d8d8', GradientType=0 );
  -webkit-box-shadow: inset 0px 10px 20px -6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 10px 20px -6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 10px 20px -6px rgba(0, 0, 0, 0.1); }

.button-navbar {
  padding-top: 5px; }
  .button-navbar button {
    background: transparent;
    padding: 0px;
    border: 0px;
    float: right;
    outline: 0px; }
    .button-navbar button img {
      max-width: 40px;
      max-height: 40px; }

/*# sourceMappingURL=main.style.css.map */
