/*this for setting height*/
@for $i from 0 through 100 {
	
	.#{w-}#{$i}#{-p}
	{

		width: $i + .0% !important;
	}}
	@for $i from 0 through 100 {

	.#{w-}#{$i}
	{
		width: $i + px !important;
	}}@for $i from 0 through 100 {
		.#{max-w-}#{$i}
	{
		max-width: $i + px !important;
	}}@for $i from 0 through 100 {
		.#{min-w-}#{$i}
	{
		min-width: $i + px !important;
	}
	
}



@media screen and(min-width: 960px)
{




$data : xl-;


@for $i from 0 through 100 {



	.#{$data}#{w-}#{$i}#{-p}
	{

		width: $i + .0% !important;
	}
}
	@for $i from 0 through 100 {

	.#{$data}#{w-}#{$i}
	{
		width: $i + px !important;
	}}@for $i from 0 through 100 {
		.#{$data}#{max-w-}#{$i}
	{
		max-width: $i + px !important;
	}}@for $i from 0 through 100 {
		.#{$data}#{min-w-}#{$i}
	{
		min-width: $i + px !important;
	}
}


}

@media screen and(max-width: 960px)
{


$data : lg-;


@for $i from 0 through 100 {



	.#{$data}#{w-}#{$i}#{-p}
	{

		width: $i + .0% !important;
	}
}
	@for $i from 0 through 100 {

	.#{$data}#{w-}#{$i}
	{
		width: $i + px !important;
	}}@for $i from 0 through 100 {
		.#{$data}#{max-w-}#{$i}
	{
		max-width: $i + px !important;
	}}@for $i from 0 through 100 {
		.#{$data}#{min-w-}#{$i}
	{
		min-width: $i + px !important;
	}
}
}





@media screen and(max-width: 720px)
{


$data : md-;


@for $i from 0 through 100 {



	.#{$data}#{w-}#{$i}#{-p}
	{

		width: $i + .0% !important;
	}
}
	@for $i from 0 through 100 {

	.#{$data}#{w-}#{$i}
	{
		width: $i + px !important;
	}}@for $i from 0 through 100 {
		.#{$data}#{max-w-}#{$i}
	{
		max-width: $i + px !important;
	}}@for $i from 0 through 100 {
		.#{$data}#{min-w-}#{$i}
	{
		min-width: $i + px !important;
	}
}
}




@media screen and(max-width: 576px)
{


$data : xs-;
/*this for setting height*/


@for $i from 0 through 100 {



	.#{$data}#{w-}#{$i}#{-p}
	{

		width: $i + .0% !important;
	}
}
	@for $i from 0 through 100 {

	.#{$data}#{w-}#{$i}
	{
		width: $i + px !important;
	}}@for $i from 0 through 100 {
		.#{$data}#{max-w-}#{$i}
	{
		max-width: $i + px !important;
	}}@for $i from 0 through 100 {
		.#{$data}#{min-w-}#{$i}
	{
		min-width: $i + px !important;
	}
}
}








@media screen and(max-width: 375px)
{


$data : xxs-;
/*this for setting height*/


@for $i from 0 through 100 {



	.#{$data}#{w-}#{$i}#{-p}
	{

		width: $i + .0% !important;
	}
}
	@for $i from 0 through 100 {

	.#{$data}#{w-}#{$i}
	{
		width: $i + px !important;
	}}@for $i from 0 through 100 {
		.#{$data}#{max-w-}#{$i}
	{
		max-width: $i + px !important;
	}}@for $i from 0 through 100 {
		.#{$data}#{min-w-}#{$i}
	{
		min-width: $i + px !important;
	}
}
}